@import "./components/variables";

@import "./components/grid";
@import "./components/position";
@import "./components/font";
@import "./components/notifications";
@import "./components/form";
@import "./components/login";
@import "./components/header";
@import "./components/menu";
@import "./components/main";
@import "./components/footer";
@import "./components/common";
@import "./components/button";
@import "./components/card";

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
}