@import "variables";

html, body, .app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.main_wrapper {
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 70px 1fr 40px;
  grid-template-areas: "Menu Header" "Menu Main" "Menu Footer";

  .menu {
    grid-area: Menu;
    background: $sidebar-background;
  }

  .header {
    grid-area: Header;
  }

  .main {
    grid-area: Main;
    overflow-y: auto;
  }

  .footer {
    grid-area: Footer;
  }
}

.width-1-1 {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.flex-align-center {
  align-items: center;
}