
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open Sans');

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$default-distance: 20px;

// Sidebar
$sidebar-background: #343a40 !default;

// Colors
$global-link-color-negative: #fff !default;
$primary-color: #00a8ec !default;
$text-color: #4f5f6f !default;
$menu-color: #212529 !default;
$white: #fff !default;

$gray-dark: #292b2c !default;
$gray: #464a4c !default;
$gray-light: #636c72 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;

$global-font-family: 'Open Sans' !default;
$global-color: $text-color !default;
$global-link-color: $primary-color !default;
$global-link-color-hover: darken($primary-color, 20%) !default;
$global-primary-background: $primary-color !default;
$form-focus-border: $primary-color !important;

$header-height: 4rem;
$navbar-nav-item-height: 4rem !default;
$footer-height: 2rem;
$footer-background: $gray;
$footer-color: $gray-lightest;
$section-container-padding: 30px;

